@model AttendanceApp.Models.StartedClasses
@Styles.Render("~/Content/style.css")
@Scripts.Render("~/bundles/index")
@Styles.Render("~/Content/stylecard.css")

@{
    ViewBag.Title = "Login";
    var qr = "https://chart.googleapis.com/chart?cht=qr&chl=" + Model.Code + "&chs=100x100";
}
<div>
    <div class="wrapper">
        <div class="containers">
            <br />
            <br />
            <h1>Välkommen!</h1>
            <br />
            @if (Session["UserName"] != null)
            {
                using (Html.BeginForm("DeleteClass", "Home", FormMethod.Post))
                {
                    <div class="cardWrapper">
                        <div class="cardContainer">
                            <div class="cardA">
                                <div class="front">
                                    <h3 class="cardTitle">
                                        Dagens lärare: @Model.TeacherName
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("InitId", Model.InitId)
                                        <br />
                                        <img src=@qr width='100' height='100' />
                                        <br />
                                        <button type="submit" name="Change" value="Delete" id="login-button">Ångra (Ta bort) id: @Model.InitId</button>
                                        <button type="submit" name="Change" value="End" id="login-button">Avsluta klass: @Model.InitId</button>
                                        <br />
                                        <br />
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                @Html.Action("Index")
            }
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
